:root {
    --bg: #ffffff;
    --text: #000000;
    --nav-bg: #333333;
    --nav-text: #ffffff;
    --card: #f4f4f4;
}

body.dark {
  --bg: #121212;
  --text: #ffffff;
  --nav-bg: #1e1e1e;
  --navtext: #ffffff;
  --card: #f4f4f4;
}



body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: background 0.3s ease, color 0.3s ease;
}

/* Nav Bar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  gap: 20px;
  background: var(--nav-bg);
  color: var(--nav-text);
  transition: background 0.3s ease;
}

.nav-left a{
  color: var(--nav-text);
  text-decoration: none;
  margin-right:20px;
  font-weight:bold;
}

.nav-left a:hover {
  opacity: 0.7;
}

/* Toggle switch styling */

.theme-toggle {
  display: flex;
  align-items: center; 
}

/* Hide default checkbox */
#theme-switch {
  display: none;
}

/*Toggle background */ 
.toggle-label{
  width: 50px;
  height: 25px;
  background: var(--card);
  display: block;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s ease; 
}

/*Toggle ball */ 
.toggle-ball {
  width: 21px;
  height: 21px;
  background: var(--text);
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

/* when checked */
#theme-switch:checked + .toggle-label .toggle-ball {
  transform: translateX(25px);
}